.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  padding: 0.6rem;
  border-radius: 7px;
  background-color: transparent;
  border: 1px solid #BA68C8;
  transition: all 0.3s ease-in-out;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 0.5rem 0;
  color: #fff;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #BA68C8;
  color: #fff;
}

#signout{
  text-transform: uppercase;
  color: #fff;
}

#comment-delete-btn{
  border: 1px solid #E50914;
  color: #E50914;

  &:hover{
    background-color: #E50914;
    color: #fff;
  }
}

#delete-post{
  border: 1px solid #E50914;
  color: #E50914;
  width: 30%;
  &:hover{
    background-color: #E50914;
    color: #fff;
  }
}

#profile-btn{
  border: 1px solid #BA68C8;
  color: #BA68C8;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
  &:hover{
    background-color: #BA68C8;
    color: #fff;
  }
}