.post-page-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  min-height: 85vh; 
  padding: 1rem 2rem;
  gap: 5%;

  .post-display-container {
    border-radius: 10px;
    width: 60%;
    height: 100%;
    padding: 1rem;
  }
  .post-comments-section {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 85vh;
    height: auto;
    padding: 3rem 2rem;

    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      color: #fff;
    }
    .post-comments-container {
      width: 100%;
      height: auto;
      
      h2 {
        font-size: 1.5rem;
        font-weight: 600;
        color: #fff;
      }
      .post-comments-holder {
        width: 100%;
        height: 50vh;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        justify-content: flex-start;
        border: 2px solid #ccc;
        overflow: scroll;
      }
    }
    .post-create-comment-section {
      width: 90%;
      height: 100%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 0.5rem 0 1.5rem 0;
      border-radius: 10px;
      border: 2px solid #ccc;

      h2 {
        padding: 0 0.5rem;
      }
    }
    #no-comments {
      width: 100%;
      color: #fff;
      font-size: 1.4rem;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 600px) {
  .post-page-container {
    flex-direction: column;
    gap: 0;

    .post-display-container {
      width: 100%;
      height: auto;
      padding: 1rem;
    }
    .post-comments-section {
      width: 100%;
      height: auto;
      padding: 1rem 2rem;
      margin: 0.5rem 0 1.5rem 0;

      h2 {
        font-size: 1.5rem;
        font-weight: 600;
        color: #fff;
      }
      .post-comments-container {
        width: 100%;
        height: auto;
        
        h2 {
          font-size: 1.5rem;
          font-weight: 600;
          color: #fff;
        }
        .post-comments-holder {
          width: 100%;
          height: 50vh;
          padding: 1rem 2rem;
          display: flex;
          flex-direction: column;
          border-radius: 10px;
          justify-content: flex-start;
          border: 2px solid #ccc;
          overflow: scroll;
        }
      }
      .post-create-comment-section {
        width: 90%;
        height: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0.5rem 0 1.5rem 0;
        border-radius: 10px;
        border: 2px solid #ccc;

        h2 {
          padding: 0 0.5rem;
        }
      }
      #no-comments {
        width: 100%;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 600;
      }
    }
  }
}